-- MySQL dump 10.13  Distrib 9.6.0, for Win64 (x86_64)
--
-- Host: localhost    Database: catcafe_db
-- ------------------------------------------------------
-- Server version	9.6.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `advertisements`
--

DROP TABLE IF EXISTS `advertisements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advertisements` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `ImageURL` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Title` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Description` text COLLATE utf8mb4_unicode_ci,
  `StartDate` date DEFAULT NULL,
  `EndDate` date DEFAULT NULL,
  `IsActive` tinyint(1) DEFAULT '1',
  `BranchID` int DEFAULT NULL,
  `PromotionID` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `BranchID` (`BranchID`),
  KEY `PromotionID` (`PromotionID`),
  CONSTRAINT `advertisements_ibfk_1` FOREIGN KEY (`BranchID`) REFERENCES `branches` (`ID`),
  CONSTRAINT `advertisements_ibfk_2` FOREIGN KEY (`PromotionID`) REFERENCES `promotions` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `branches`
--

DROP TABLE IF EXISTS `branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branches` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Address` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `OpeningDate` date DEFAULT NULL,
  `ManagerUserID` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `ManagerUserID` (`ManagerUserID`),
  CONSTRAINT `branches_ibfk_1` FOREIGN KEY (`ManagerUserID`) REFERENCES `users` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cashiers`
--

DROP TABLE IF EXISTS `cashiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cashiers` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `UserID` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `UserID` (`UserID`),
  CONSTRAINT `cashiers_ibfk_1` FOREIGN KEY (`UserID`) REFERENCES `users` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Description` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `menu`
--

DROP TABLE IF EXISTS `menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menu` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Composition` text COLLATE utf8mb4_unicode_ci,
  `Description` text COLLATE utf8mb4_unicode_ci,
  `Price` decimal(10,2) NOT NULL,
  `CategoryID` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `CategoryID` (`CategoryID`),
  CONSTRAINT `menu_ibfk_1` FOREIGN KEY (`CategoryID`) REFERENCES `categories` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `menubranches`
--

DROP TABLE IF EXISTS `menubranches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menubranches` (
  `BranchID` int NOT NULL,
  `MenuID` int NOT NULL,
  `StatusID` int DEFAULT NULL,
  PRIMARY KEY (`BranchID`,`MenuID`),
  KEY `MenuID` (`MenuID`),
  KEY `StatusID` (`StatusID`),
  CONSTRAINT `menubranches_ibfk_1` FOREIGN KEY (`BranchID`) REFERENCES `branches` (`ID`),
  CONSTRAINT `menubranches_ibfk_2` FOREIGN KEY (`MenuID`) REFERENCES `menu` (`ID`),
  CONSTRAINT `menubranches_ibfk_3` FOREIGN KEY (`StatusID`) REFERENCES `menustatuses` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `menucategories`
--

DROP TABLE IF EXISTS `menucategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menucategories` (
  `MenuID` int NOT NULL,
  `CategoryID` int NOT NULL,
  PRIMARY KEY (`MenuID`,`CategoryID`),
  KEY `CategoryID` (`CategoryID`),
  CONSTRAINT `menucategories_ibfk_1` FOREIGN KEY (`MenuID`) REFERENCES `menu` (`ID`),
  CONSTRAINT `menucategories_ibfk_2` FOREIGN KEY (`CategoryID`) REFERENCES `categories` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `menustatuses`
--

DROP TABLE IF EXISTS `menustatuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menustatuses` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Description` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ordermenu`
--

DROP TABLE IF EXISTS `ordermenu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ordermenu` (
  `OrderID` int NOT NULL,
  `MenuID` int NOT NULL,
  `BranchID` int NOT NULL,
  `PromotionID` int DEFAULT NULL,
  `Quantity` int DEFAULT '1',
  `UnitPrice` decimal(10,2) NOT NULL,
  PRIMARY KEY (`OrderID`,`MenuID`,`BranchID`),
  KEY `MenuID` (`MenuID`),
  KEY `BranchID` (`BranchID`),
  KEY `PromotionID` (`PromotionID`),
  CONSTRAINT `ordermenu_ibfk_1` FOREIGN KEY (`OrderID`) REFERENCES `orders` (`ID`) ON DELETE CASCADE,
  CONSTRAINT `ordermenu_ibfk_2` FOREIGN KEY (`MenuID`) REFERENCES `menu` (`ID`),
  CONSTRAINT `ordermenu_ibfk_3` FOREIGN KEY (`BranchID`) REFERENCES `branches` (`ID`),
  CONSTRAINT `ordermenu_ibfk_4` FOREIGN KEY (`PromotionID`) REFERENCES `promotions` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `OrderDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `TotalAmount` decimal(10,2) NOT NULL,
  `CustomerUserID` int DEFAULT NULL,
  `PaymentType` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `OrderNumber` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CashierUserID` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `OrderNumber` (`OrderNumber`),
  KEY `CustomerUserID` (`CustomerUserID`),
  KEY `CashierUserID` (`CashierUserID`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`CustomerUserID`) REFERENCES `users` (`ID`),
  CONSTRAINT `orders_ibfk_2` FOREIGN KEY (`CashierUserID`) REFERENCES `users` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `positions`
--

DROP TABLE IF EXISTS `positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `positions` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `PositionName` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Description` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `promotionmenu`
--

DROP TABLE IF EXISTS `promotionmenu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotionmenu` (
  `PromotionID` int NOT NULL,
  `MenuID` int NOT NULL,
  PRIMARY KEY (`PromotionID`,`MenuID`),
  KEY `MenuID` (`MenuID`),
  CONSTRAINT `promotionmenu_ibfk_1` FOREIGN KEY (`PromotionID`) REFERENCES `promotions` (`ID`) ON DELETE CASCADE,
  CONSTRAINT `promotionmenu_ibfk_2` FOREIGN KEY (`MenuID`) REFERENCES `menu` (`ID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `promotions`
--

DROP TABLE IF EXISTS `promotions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotions` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Description` text COLLATE utf8mb4_unicode_ci,
  `StartDate` date NOT NULL,
  `EndDate` date NOT NULL,
  `DiscountPrice` decimal(10,2) DEFAULT NULL,
  `BranchID` int DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `BranchID` (`BranchID`),
  CONSTRAINT `promotions_ibfk_1` FOREIGN KEY (`BranchID`) REFERENCES `branches` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviews` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `ReviewDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `UserID` int DEFAULT NULL,
  `BranchID` int DEFAULT NULL,
  `Rating` int DEFAULT NULL,
  `Comment` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`ID`),
  KEY `UserID` (`UserID`),
  KEY `BranchID` (`BranchID`),
  CONSTRAINT `reviews_ibfk_1` FOREIGN KEY (`UserID`) REFERENCES `users` (`ID`),
  CONSTRAINT `reviews_ibfk_2` FOREIGN KEY (`BranchID`) REFERENCES `branches` (`ID`),
  CONSTRAINT `reviews_chk_1` CHECK (((`Rating` >= 1) and (`Rating` <= 5)))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `PositionID` int NOT NULL,
  `FullName` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `RegistrationDate` datetime DEFAULT CURRENT_TIMESTAMP,
  `Login` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `IsActive` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`ID`),
  UNIQUE KEY `Login` (`Login`),
  KEY `PositionID` (`PositionID`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`PositionID`) REFERENCES `positions` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-29 22:50:04
